body{
   
}
h3{
    text-align: center;
}
form{
    margin: 0 auto;
}
#Nombre{
    margin-bottom: 5px;
}
.btnGuardar{
    margin-bottom: 10px;
}
.table .thead-light th{
    background-color: #a32588 !important;
    color: white;
    font-weight: bold;
}