<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Wiki</title>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="col-md-10">
      <a class="navbar-brand" href="#" style="color: white">Wiki Multimedia</a>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light float-right" data-toggle="modal" data-target="#exampleModal">Iniciar
        Sesión</button>
    </div>
  </nav>

  <section class="Filtros">
    <div class="container">
      <div class="row abs-center" style="padding-top: 22px;">
        <div class="input-group col-md-3">
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Semestre..</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="input-group col-md-3">
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Materia</option>
            <option value="1">Diseño</option>
            <option value="2">Dibujo</option>
            <option value="3">Photoshop</option>
          </select>
        </div>
      </div>
      <div class="row abs-center">
        <div class="input-group abs-center col-md-6">
          <input class="form-control" autocomplete [config]="config2" [items]="items2" placeholder="Concepto"
            (inputChangedEvent)="onInputChangedEvent($event)" (selectEvent)="onSelect($event)">
          <div class="input-group-append col-md-2">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h3 style="font-weight: bold">Resultados</h3>
    <div class="row abs-center">
      <div class="card w-75">
        <div class="card-body">
          <div class="col-md-10">
            <h5 class="card-title">Multimedia</h5>
            <p class="card-text">La Multimedia bla bla bla</p>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-light float-right">Leer Mas</a>
          </div>
        </div>
      </div>
      <div class="card w-75">
        <div class="card-body col-md-12">
          <div class="col-md-10">
            <h5 class="card-title">Multimedia</h5>
            <p class="card-text">La Multimedia bla bla bla</p>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-light float-right">Leer Mas</a>
          </div>
        </div>
      </div>
      <div class="card w-75">
        <div class="card-body">
          <div class="col-md-10">
            <h5 class="card-title">Multimedia</h5>
            <p class="card-text">La Multimedia bla bla bla</p>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-light float-right">Leer Mas</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title" id="exampleModalLabel" style="color:#fff">Iniciar Sesión</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row abs-center" style="padding: 15px">
              <div class="form-group col-md-7">
                <input type="text" class="form-control" placeholder="Tu Email *" value="" />
              </div>
              <div class="form-group col-md-7">
                <input type="password" class="form-control" placeholder="Tu Password *" value="" />
              </div>
            </div>
            <div class="row abs-center">
              <input type="submit" class="btnSubmit bg-primary" value="Login" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="page-footer font-small bg-primary">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright
    </div>
    <!-- Copyright -->

  </footer>
</body>

</html>