.nav-link{
  color: #fff !important;
}
.usuario{
  color: #fff;
}
.fa{
  cursor: pointer;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.row{
  margin-right: 0px !important; 
  margin-left: 0px !important;
}