.titulo{
  position: relative;
  margin: 1em 0 0;
  font-family: 'Luckiest Guy', cursive;
  color: #fff;
  font-size: 24px;
  z-index: 2;
  font-weight: bold;
}

.nav-link{
  color: #fff !important;
}
.usuario{
  color: #fff;
}
.fa{
  cursor: pointer;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.row{
  margin-right: 0px !important; 
  margin-left: 0px !important;
}

nav{
  width: 100%;
  height: 100px;
  -moz-border-radius: 0 50% / 0 100%;
  -webkit-border-radius: 0 50% / 0 100%;
  border-radius: 0 50% / 0 100%;
  background: #ac0bca;
  border: 3px solid #000;
}
body{
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(2,93,173,1) 29%, rgba(125,173,219,1) 70%, rgba(32,124,229,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(29%, rgba(2,93,173,1)), color-stop(70%, rgba(125,173,219,1)), color-stop(100%, rgba(32,124,229,1)));
  background: -webkit-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(2,93,173,1) 29%, rgba(125,173,219,1) 70%, rgba(32,124,229,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(2,93,173,1) 29%, rgba(125,173,219,1) 70%, rgba(32,124,229,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(2,93,173,1) 29%, rgba(125,173,219,1) 70%, rgba(32,124,229,1) 100%);
  background: linear-gradient(135deg, rgba(73,155,234,1) 0%, rgba(2,93,173,1) 29%, rgba(125,173,219,1) 70%, rgba(32,124,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );   
}