nav{
  -webkit-box-shadow: 0px 16px 0px -15px rgba(206, 206, 206, 0.75);
  -moz-box-shadow: 0px 16px 0px -15px rgba(221, 221, 221, 0.75);
  box-shadow: 0px 16px 0px -15px rgba(214, 214, 214, 0.75);
}
.fa{
  cursor: pointer;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.row{
  margin-right: 0px !important; 
  margin-left: 0px !important;
}
.icono-inicio{
  color: #e60023;
  font-size: 31px;
}
.input-materia{
  background: #e9ecef;
  font-weight: bold;
}
.nav-link{
  font-weight: bold;
  color: #8e8e8e;
}
.icono-cerrar-sesion{
  font-size: 20px;
  color: #737373;
}
span{
  font-weight: bold;
  color: #8e8e8e;
}
.icono-user{
  padding: 1px;
  font-size: 20px;
}