<div class="contenedor">
  <div class="row col-md-12">
    <h3 class="col-md-12">Resultados</h3>
  </div>
  <div class="row">
    <div class="vertical-menu">
      <a  class="active">Semestres</a>
      <a (click)="getMateria(1)">Uno</a>
      <a (click)="getMateria(2)">Dos</a>
      <a (click)="getMateria(3)">Tres</a>
      <a (click)="getMateria(4)">Cuatro</a>
      <a (click)="getMateria(5)">Cinco</a>
      <a (click)="getMateria(6)">Seis</a>
      <a (click)="getMateria(7)">Siete</a>
      <a (click)="getMateria(8)">Ocho</a>
      <a (click)="getMateria(9)">Nueve</a>
      <a (click)="getMateria(10)">Diez</a>
    </div>
    <div class="vertical-menu-2" id="materias">
      <a href="#" class="active-2">Materias</a>
      <div *ngFor="let item of modelMateria">
          <a (click)="getConcepto(item.id)" >{{ item.nombreMateria }}</a>
      </div>
    </div>
    <div id="resultados">
      <div id="cajas">
        <div *ngFor="let item of modelConcepto">
            <div class="col-md-2">
              <div class="col-md-2" style="text-align: center;font-weight: bold;">{{ item.nombreConcepto }}</div>
              <div><img data-toggle="modal" data-target="#exampleModal2" (click)="mostrarHtml(item)" [src]="item.urlimage" alt="" style="width: 100px;"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title" id="exampleModalLabel" style="color:#fff">Iniciar Sesión</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row abs-center" style="padding: 15px">
              <div class="form-group col-md-7">
                <input type="text" class="form-control" [(ngModel)]="usuario" placeholder="Tu Usuario *" />
              </div>
              <div class="form-group col-md-7">
                <input type="password" class="form-control" [(ngModel)]="contrasena" placeholder="Tu Password *" />
              </div>
            </div>
            <div class="row abs-center">
              <input type="submit" class="btnSubmit bg-primary" value="Login" (click)="login()" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" style="width: 100%;" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title" id="exampleModalLabel2" style="color:#fff">Concepto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div id="html"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>